body {
    background-color: #000000;
    color: #f8f9fa;
}
.card {
    cursor: pointer;
    background-color: #343a40;
    transition: transform 0.2s;
}
.card:hover {
    transform: translateY(-2px);
}
.filter-group {
    margin-bottom: 1rem;
}
.active-filters {
    margin-bottom: 1rem;
}
.form-select {
    border: 1px solid #495057;
}
.form-select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select option {
    background-color: #212529;
    color: #f8f9fa;
}
.form-select[multiple] option {
    cursor: pointer;
}
.form-check-label {
    cursor: pointer;
}
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
.navbar .dropdown {
    margin-right: 1rem;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.container {
    margin-top: 80px; /* Adjust based on navbar height */
}
.badge {
    font-size: 0.8rem;
    font-weight: normal;
}
.card-body {
    min-height: 150px;
}

.ap-header-title {
    font-size: var(--spacing-5);
    line-height: var(--spacing-6);
    white-space: nowrap;
    color: var(--color-text-heading);
}

.ap-header-subtitle {
    display: flex;
    align-items: center;
    color: var(--color-text-heading);
}

.ap-header-subtitle .ap-header-subtitle-divider {
    width: 0.0625rem;
    height: var(--spacing-7);
    margin: 0 var(--spacing-4);
    opacity: 0.32;
    background-color: var(--color-text-heading);
}

.ap-header-options-item {
    position: relative;
    display: flex;
    column-gap: var(--spacing-2);
    align-items: center;
    height: 2.5rem;
    color: var(--color-text-heading);
    border-radius: var(--spacing-2);
    cursor: pointer;
}

.with-hamburger {
    display: none !important;
}

@media (max-width: 576px) {
    .responsive-hamburger {
        display: none !important;
    }
}

.ap-header-options-item:hover {
    background-color: rgba(232, 232, 232, 0.48);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);
}

.ap-header-options-item.has-icon.has-label {
    padding: var(--spacing-3) var(--spacing-4) var(--spacing-3) var(--spacing-3);
}

.ap-header-options-item.has-icon:not(.has-label) {
    padding: var(--spacing-3);
}

.ap-header-options-item.has-label:not(.has-icon) {
    padding: var(--spacing-3) var(--spacing-4);
}

.ap-header-options-item.with-compact {
    padding-right: var(--spacing-3) !important;
}

.ap-header-options-item.reverse {
    flex-direction: row-reverse;
    padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-4);
}

.ap-header-options-item .Appkit4-icon {
    width: var(--spacing-7);
    height: var(--spacing-7);
}

.ap-header-options-item .ap-header-options-label {
    line-height: var(--spacing-7);
}

.ap-header-options-item .ap-header-options-label.with-compact {
    display: none;
}